@font-face {
    font-family: 'Hammersmith One';
    src: url('HammersmithOne-Regular.woff2') format('woff2'),
        url('HammersmithOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

