@media (max-width: 1199px){
  .container{
    width: 930px;
  }
}
@media (max-width: 991px){
  .container{
    width: 720px;
  }
   nav ul{
    display: none;
  }
  .toggle{
    display: block;
  }
  .logo{
    margin: 0 0 0 10px;
  }
  nav .nav-links li {
    display: block;
    margin: 0;
    padding: 15px;
    text-align: center;
    /*border-bottom: 1px solid #b6b6b6;*/
  }
  nav .nav-links{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: rgba(46,39,77,0.9);
    z-index: 9999;
    /*border-top: 5px solid #b6b6b6;*/
  }
  .section-1{
    min-height: 550px;
  }
  .banner-content{
    min-height: 550px;
    padding: 40px;
  }
  .slick-dots {
    bottom: 0;
    margin: 0 0 50px 0;
  }
  .expertise ul li{
    padding: 20px;
  }
  .company-team {
    padding: 50px 0;
  }
  .team-about{
    margin: 50px 0;
  }
  .section-3{
    min-height: 400px;
  }
  .section-5 {
    min-height: 640px;
  }
/*  .team-about .slick-next{
    left: -25px;
  }
  .team-about .slick-prev{
    right: -25px;
  }*/

  .section-7 {
    min-height: 430px;
  }
  .testimonials-slider{
    width: 660px;
  }
  .slick-prev, .slick-next {
    top: 45%;
  }
  .slick-prev{
    left: -20px;
  }
  .slick-next{
    right: -20px;
  }
  .testimonials-slider .slick-prev{
    left: -35px;
  }
  .testimonials-slider .slick-next{
    right: -35px;
  }
  .reviews{
    margin: 50px 0;
  }
  .form{
    display: block;
    max-width: 100%;
    margin: 50px 0;
  }
  form input {
    width: 100%;
    margin: 20px auto;
  }
  .form-inline textarea {
    width: 100%;
  }
  .clients {
    max-width: 100%;
    margin: 0;
  }

  .clients h4 {
    margin: 30px 0 0 0;
  }
  .stay-in input {
    width: 90%;
  }
  .stay-in button{
    margin: 0 0 0 10px;
  }
  .driggle {
    margin: 50px 0;
  }
  .load-more{
    margin: 50px 0;
  }
}
@media (max-width: 767px){
  .container{
    width: 100%;
   }
  nav ul{
    display: none;
  }
  .toggle{
    display: block;
  }
  .logo{
    margin: 0 0 0 10px;
  }
  nav .nav-links li {
    display: block;
    margin: 0;
    padding: 15px;
    text-align: center;
    /*border-bottom: 1px solid #b6b6b6;*/
  }
  nav .nav-links{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: rgba(46,39,77,0.9);
    z-index: 9999;
    /*border-top: 5px solid #b6b6b6;*/
  }
  .banner-content {
    min-height: 450px;
  }
  .banner-content h3 {
    font-size: 22px;
  }
  .banner-content p{
    margin: 30px 15px 40px 15px;
  }
  .buttons{
    padding: 10px 20px;
  }
  .section-1{
    min-height: 570px;
  }
  .about {
    display: block;
    margin: 50px 0;
  }
  .about-img{
    max-width: 100%;
    margin:0 0 0 15px;
  }
  .about-text{
    max-width: 100%;
    margin:30px 0 0 0;
  }
  .about-text h2 {
    margin: 0 0 30px 15px;
  }
  .about-text p{
    margin: 0 0 30px 15px;
  }
  .about-text .buttons{
    margin: 0 0 0 15px;
  }
  .section-3 {
    min-height: 300px;
  }
  .testimonials-slider .slick-prev{
    left: -25px;
  }
  .testimonials-slider .slick-next{
    right: -25px;
  }
  .expertise ul li{
    flex:0 0 100%;
    max-width: 100%;
  }
  .section-4{
    margin: 50px 0;
  }
  .section-4 p {
    margin: 15px 5px;
  }
  .company-team {
    padding: 50px 0;
  }
  .section-5 p{
    margin: 15px 5px;
  }
  .team-about{
    margin: 50px 0;
  }
  .driggle {
    margin: 50px 0;
    text-align: center;
  }
  .driggle ul{
    display: block;
  }
  .driggle ul li{
    margin: 20px 0;
  }
  .driggle-blocks{
    display: block;
  }
  .driggle-blocks div{
    max-width: 100%;
  }
  .load-more{
    margin: 50px 0;
  }

  .reviews {
    text-align: center;
    max-width: 100%;
    margin: 50px auto;
  }
  .testimonials-slider {
    width: 80%;
    margin: 0 auto;
  }
  .form {
    display: block;
    max-width: 90%;
    margin: 50px auto;
  }
  .clients{ 
    max-width: 100%;
  }
  form input{
    width: 100%;
    margin: 20px auto;
  }
  .form-inline textarea{
    width: 100%;
  }
  .clients h4 {
    margin: 30px 0 0 0;
  }
  .footer{
    display: block;
    max-width: 90%;
    margin: 0 auto;
  }
  .footer > div{
    max-width: 100%;
    padding: 25px 0;
  }
  .address strong, .stay-in strong{
    padding: 0;
  }
  .terms ul{
    display: block;
    text-align: center;

  }
  .terms ul li{
    margin: 20px 0 0 0;
  }
  .terms{
    display: block;
  }
  .terms .inner-terms li{
    margin:25px 0;
  }
  .slick-dots {
    bottom: 0;
    margin: 0 0 30px 0;
  }
  .banner-content {
    min-height: 600px;
    padding: 10px;
  }
}
